

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Flask React App</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="root"></div>

<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel">
const App = () => {
const [data, setData] = React.useState([]);

React.useEffect(() => {
fetch('/api/data')
.then(res => res.json())
.then(data => setData(data))
.catch(err => console.error(err));
}, []);

return (
<div className="container">
<h1>Flask React App</h1>
<ul>
{data.map(item => (
<li key={item.id}>{item.name}</li>
))}
</ul>
</div>
);
};

ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>

